<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>About</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>About</h1>
        <h2>Problem Statement</h2>
        <p>The project aims to develop a robust system for predicting stock prices based on historical data and market indicators. Predicting stock prices accurately is crucial for investors and financial analysts to make informed decisions, minimize risks, and maximize returns in the stock market. However, stock prices are influenced by numerous factors such as market trends, company performance, economic conditions, and geopolitical events, making prediction challenging.</p>


        <h2>Created by</h2>
        <p>Created by Suraj Sanap.</p>
    </div>

    <footer>
        <p>© Suraj Sanap 2024</p>
    </footer>
</body>
</html>
